.img-fluid{
    max-width: 100%;
    height: auto;
}
.borde{
    padding: 10px;
}

.verde{
    color: #00A651;
}
.bgverde{
    background: rgb(3,57,30);
    background: linear-gradient(90deg, rgba(3,57,30,1) 0%, rgba(0,166,81,1) 48%, rgb(40, 150, 95) 100%);
}
.centar{
    text-align: center;
}
hr{
    height: 4px;
    border: none;
    background: rgb(3,57,30);
    background: linear-gradient(90deg, rgba(3,57,30,1) 0%, rgba(0,166,81,1) 48%, rgba(139,215,177,1) 100%);
    border-radius: 4px;
}
footer{
    background: rgb(3,57,30);
    background: linear-gradient(90deg, rgba(3,57,30,1) 0%, rgba(0,166,81,1) 48%, rgba(139,215,177,1) 100%);
}
circle{
    border:10px;
}
.prefix{
    color:black;
}
.input-field .prefix.active {
    color: #00A651;
}
.input-field{
    color: #00A651;
}
#editicon{
    color: #ffffff;
}
